<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!--Уровень протокола
			Off,
			Fatal,
			Error,
			Warn,
			Info,
			Debug,
			All
		-->
		<add key="LogLevel" value="Debug" />
		<!--Папка файлов протокола-->
		<add key="LogDir" value="log" />
	</appSettings>
</configuration>